@charset "UTF-8";

html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    overflow-y: scroll;
}
body {
    background-color: #F3F3F3;
}
    .scroll-top{
        display:none;
        position:fixed;
        top: 74rem;    right: 2rem;
        width:auto;    height: 64px;
        padding:10px;
        border: 2px solid #444;
        border-radius: 15px;
        color: #444;
        background-color: #ffffff;
        z-index: 999;
    }
    .scroll-top:hover{
        text-decoration:none;
    }
    .about-me, .skills, .services,
    .work-process, .portfol, .contact {
        margin: 6rem auto;
        background-color: #ffffff;  /* #ffffff#F3F3F3 */
        -webkit-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
                box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    }
h2 {
    margin-left: 10rem;
}
    .upper-case {
        color: #F2CE55;
        text-decoration: underline;
        font-weight: bold;
        font-size: 100px;
    }


/***********************
        # header
***********************/

#header .navbar {
    position: relative;
    margin-top: 2rem;
}

/***********************
        # content
***********************/

/* About me */

    .about-left div {
        margin: 2.4rem 0 3rem 3rem;
    }
    .about-left div:first-child {
        font-size: 1.8rem;
        letter-spacing: 1.4rem;
    }
    .about-left div:nth-child(2) {
        font-size: 8rem;
    }
.about-right {
    margin-bottom: 3rem;
}
    .about-right img {
        min-height: 400px;
    }

/* Skills */

.skills ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    text-align: center;
    list-style: none;
}
    .chart-wrap {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 0 0 4rem 2rem;
    }
        .chart-1, .chart-3 {
            margin-right: 12rem;
        }
        .chart-span {
            margin: 3rem 0;
            font-size: 16px;
        }

/* Services */

.services {
    min-height: 60rem;
}
    .serv-box {
        margin: 8rem 0;
        text-align: center;
        background-size: cover;
    }
        .serv-box img {
            width: 68%; height: 20rem;
        }
        .serv-img-fix {
            width: 30% !important;
        }


/* Work process */

.work-process {
    min-height: 60rem;
}
    .work-main {
        margin-top: 6rem;
        text-align: center;
    }
    .work-shadow {
        -webkit-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
                box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    }
        .work-main figure {
            width: 100%;
            margin: 6rem 0;
        }
            .work-main img {
                width: 10rem;    height: 10rem;
            }
            .work-main figcaption {
                margin-top: 3rem;
                font-size: 20px;
                font-weight: bold;
            }


/* Portfolio */

#content .col-md-4 {
    overflow: hidden;
}

    .grid {
        position: relative;
        margin: 0 auto;
        padding: 1em 0 4em;
        max-width: 1000px;
        list-style: none;
        text-align: center;
    }

    /* Common style */
    .grid figure {
        position: relative;
        float: left;
        overflow: hidden;
        margin: 10px 1%;
        min-width: 340px;
        max-width: 500px;
        max-height: 360px;
        width: 48%;
        background: #3085a3;
        text-align: center;
        cursor: pointer;
    }

        .grid figure img {
            position: relative;
            display: block;
            min-height: 100%;
            max-width: 100%;
            opacity: 0.8;
        }

        .grid figure figcaption {
            padding: 2em;
            color: black;
            text-transform: uppercase;
            font-size: 1.25em;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        .grid figure figcaption::before,
        .grid figure figcaption::after {
            pointer-events: none;
        }

        .grid figure figcaption,
        .grid figure figcaption > a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        /* Anchor will cover the whole item by default */
        /* For some effects it will show as a button */
        .grid figure figcaption > a {
            z-index: 1000;
            text-indent: 200%;
            white-space: nowrap;
            font-size: 0;
            opacity: 0;
        }
    .grid figure h2 {
        word-spacing: -0.15em;
        font-weight: 300;
    }
        .grid figure h2 span {
            font-weight: 800;
        }
            .grid figure h2,
            .grid figure p {
                margin: 0;
            }
            .grid figure p {
                letter-spacing: 1px;
                font-size: 68.5%;
            }
    figure.image-effect img {
        max-width: none;
        width: -webkit-calc(100% + 50px);
        width: calc(100% + 50px);
        opacity: 0.7;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(-40px,0, 0);
        transform: translate3d(-40px,0,0);
    }
    figure.image-effect figcaption {
        /* text-align: left; */
    }
    figure.image-effect figcaption > div {
        position: absolute;
        top: 0;     left: 0;
        padding: 2em;
        width: 100%;
        height: 80%;
    }
    figure.image-effect h2 {
        margin-bottom: 2rem;
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
    }
    figure.image-effect p {
        color: #191970;    /* rgba(255,255,255,0.8) */
        font-weight: bold;
        -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
        transition: opacity 0.2s, transform 0.35s;
    }
    figure.image-effect:hover img,
    figure.image-effect:hover p {
        opacity: 1;
    }
    figure.image-effect:hover img,
    figure.image-effect:hover h2,
    figure.image-effect:hover p {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    figure.image-effect:hover p {
        -webkit-transition-delay: 0.05s;
        transition-delay: 0.05s;
        -webkit-transition-duration: 0.35s;
        transition-duration: 0.35s;
    }

/* Progressbar class */

.progressbar {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 35px;
    position: relative;
    background-color: #EEEEEE;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,.1);
            box-shadow: inset 0px 1px 1px rgba(0,0,0,.1);
}
.proggress{
    height: 8px;
    width: 10px;
    background-color: #3498db;
}
.percentCount{
    float:right;
    margin-top: 10px;
    clear: both;
    font-weight: bold;
    font-family: Arial
}

/* Contact */

.con-wrap {
    margin: 4rem 0;
}
    .con-left {
        text-align: center;
        font-size: 18px;
    }
    .con-email {
        margin: 1rem 0;
    }
    .con-email .col-md-8,
    .con-add .col-md-8 {
        margin-top: 8px;
    }
        .con-img {
            width: 70px;    height: 40px;
        }
            .con-img img {
                width: 100%;    height: 40px;
            }
            .con-maps img {
                width: 100%;    height: 0 auto;
                margin: 2rem 0;
            }


/***********************
        # footer
***********************/

#footer {
    width: 100%;    height: auto;
    margin-top: 3rem;
}
    .sns-icons {
        min-height: 10rem;
        margin-top: 2rem;
    }
        .copyright {
            height: 60px;
            margin-top: .8rem;
        }
            .sns-icons span {
                text-align: center;
                font-size: 3rem;
            }
            .sns-icons a img {
                display: inline-block;
                width: 40px;
                margin: .4rem;
            }

